.container {
  background-color: #FFFFFF;
  margin-top: 28px;
  margin-bottom: 28px;
}

.btnNav {
  background-color: #F39200;
  border: none;
  padding: 8px 15px;
  height: 34px;
}

.btnNav:hover {
  background-color: #da7a00;
  transition: all;
  transition-duration: 400ms;
}

.btnNav:active {
  background-color: #c27500 !important;
}