.navbar {
  background-color: #FAFAFA;
  transition: all;
  transition-duration: 300ms;
}

.menu {
  font-weight: 600;
}

.menu li {
  color: #0064B8;
  transition: all;
  transition-duration: 300ms;
}

.menu li:hover {
  color: #F39200;
  transition: all;
  transition-duration: 300ms;
}

.menu > .option {
  transition: all;
  transition-duration: 300ms;
}

.option:hover {
  background: #EDEDED;
  color: #F39200;
}